.geocoder-container {
  width: 100%;
  max-width: 710px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.geoapify-autocomplete-input {
  margin-top: 20px;

  width: 100%;
  height: 50px;

  padding: 13px 15px;

  font-weight: 400;
  font-size: 1.25rem;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.77);
  color: #6AA2D1;

  outline: none;
  border: 0;

  box-shadow: 0px 4px 4px rgba(106, 162, 209, 0.8);

  caret-color: #D2B3C1;
}

.geoapify-autocomplete-input::placeholder {
  color: #6AA2D1;
}

.geoapify-close-button {
  display: none;
}

.geoapify-autocomplete-items {
  width: 100%;
  margin-top: 0.163rem;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.77);
  box-shadow: 0px 4px 4px rgba(106, 162, 209, 0.8);

  padding: 15px;
}

.geoapify-autocomplete-item {
  cursor: pointer;
}

.geoapify-autocomplete-item .icon {
  display: none;
}

.geoapify-autocomplete-item:not(:first-child) {
  margin-top: 15px;
}

.geoapify-autocomplete-item .address {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.25rem;
  color: #6AA2D1;
}

.geoapify-autocomplete-item.active > .address {
  color: #D2B3C1;
}